<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--文件数据库地址-->
		<add key="firestoreuri" value="https://firestore.googleapis.com/v1beta1/projects/semiotic-art-418621/databases/estarfile/documents" />
		<!--数据库配置-->
		<add key="INSTANCE_HOST" value="35.197.105.112" />
		<add key="DB_USER" value="sqlserver" />
		<add key="DB_PASS" value="022186" />
		<add key="DB_NAME" value="test" />
		<!--token生成secret-->
		<add key="appSecret" value="bff3f90f3989ee330999fabafdb36156" />
		<!--scripe密钥-->
		<add key="SecretKey" value="sk_test_k3CmY9aahGkzqLh2gjzi2Xzf" />
	</appSettings>
</configuration>