<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--文件数据库地址-->
		<add key="firestoreuri" value="https://firestore.googleapis.com/v1beta1/projects/semiotic-art-418621/databases/estarfile/documents" />
		<!--Google数据库配置//35.197.105.112/127.0.0.1,1433-->
		<!--<add key="INSTANCE_HOST" value="35.197.105.112" />
		<add key="DB_USER" value="sqlserver" />
		<add key="DB_PASS" value="022186" />
		<add key="DB_NAME" value="test" />-->
		<!--token生成secret-->
		<add key="appSecret" value="bff3f90f3989ee330999fabafdb36156" />
		<!--scripe密钥-->
		<add key="SecretKey" value="sk_test_k3CmY9aahGkzqLh2gjzi2Xzf" />
		
		<!--paypal支付oAuthClientId-->
		<add key="oAuthClientId" value="Ab6ox0iQPfv4YavdSohekbvHLnh6p_3eFZSHLTwMz-yjoPvoDZ0FRPqPjtvUuZ6vwyANuKKuQJD6QPF-" />
		<!--paypal支付oAuthClientSecret-->
		<add key="oAuthClientSecret" value="EOSYI4iyvI09Fofy-P39aVMpnylGUQICRRNvtpDaj_xi3R5HkTfz9RHYTQiTMvf5u8HkoKqdhcXTbhkj" />
		
		<!--google  Identity Platform apiKey  AIzaSyDzXB49Vj8clX4zPrq0c837owjGOSK9es0 -->
		<add key="IdentityKey" value="AIzaSyDn0BELrEQLyywtIDnvANGxxq-FvF5UxtA" />


		<!--本地数据库配置//35.197.105.112/127.0.0.1,1433-->
		<add key="INSTANCE_HOST" value="localhost" />
		<add key="DB_USER" value="sa" />
		<add key="DB_PASS" value="022186" />
		<add key="DB_NAME" value="estar" />
	</appSettings>
</configuration>